<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Kyselyt</title>
</head>

<body>
    <h1>Kyselyt</h1>
    <ul class="list-unstyled">
        <li th:each="survey : ${surveys}">
            <a th:href="@{/viewsurvey/{id}(id=${survey.surveyId})}" th:text="${survey.surveyName}"></a>
            <span> — </span>
            <span th:text="${survey.surveyDesc}"></span>
            <a th:href="@{/editsurvey/{id}(id=${survey.surveyId})}"
                class="btn btn-sm btn-outline-primary ms-2">Muokkaa</a>
        </li>
    </ul>
    <a href="/addsurvey" class="btn btn-primary">Uusi Kysely</a>
</body>

</html>